In [1]:
import dask.dataframe as dd
import pandas as pd
import matplotlib.pyplot as plt
import koreanize_matplotlib
import numpy as np
from collections import Counter
from wordcloud import WordCloud

import warnings
warnings.filterwarnings('ignore')

In [2]:
df_last = pd.read_csv('연말업종빈도.csv')
df_first = pd.read_csv('연초업종빈도.csv')
df_normal = pd.read_csv('보통업종빈도.csv')

---------------------------------------------------

In [3]:
def compare_two_datasets(df1, df2, col1_name, col2_name):
    comparison_df = pd.merge(
        df1, df2, on='단어', how='outer', suffixes=(f'_{col1_name}', f'_{col2_name}')
    ).fillna(0)
    
    comparison_df.rename(
        columns={f'빈도_{col1_name}': col1_name, f'빈도_{col2_name}': col2_name}, inplace=True
    )
    
    comparison_df['freq_diff'] = comparison_df[col1_name] - comparison_df[col2_name]
    return comparison_df

In [4]:
#연말 vs 연초
comparison_last_first = compare_two_datasets(df_last, df_first, '연말빈도', '연초빈도')

#연말 vs 보통
comparison_last_normal = compare_two_datasets(df_last, df_normal, '연말빈도', '보통빈도')

#연초 vs 보통
comparison_first_normal = compare_two_datasets(df_first, df_normal, '연초빈도', '보통빈도')

In [13]:
comparison_last_first.sort_values(by='freq_diff', ascending=False)

            단어       연말빈도       연초빈도  freq_diff
143       일반한식  2272864.0  1742487.0   530377.0
94        서양음식  1258382.0   965267.0   293115.0
189      편 의 점  1300075.0  1093072.0   207003.0
137     인터넷P/G  1475532.0  1335632.0   139900.0
115        약 국   630678.0   519582.0   111096.0
..         ...        ...        ...        ...
8       LPG취급점     6623.0     7952.0    -1329.0
127        유아원    22819.0    24478.0    -1659.0
142       일반서적    48032.0    49810.0    -1778.0
64       대형할인점   434275.0   450227.0   -15952.0
138  인터넷종합Mall   253976.0   273264.0   -19288.0

[205 rows x 4 columns]

In [14]:
comparison_last_normal.sort_values(by='freq_diff', ascending=False)

               단어       연말빈도       보통빈도  freq_diff
120           영화관    44479.0    28379.0    16100.0
117         업종미등록     8430.0     5560.0     2870.0
127          유류판매     4332.0     3129.0     1203.0
162         주류판매점     2666.0     1912.0      754.0
152  전자상거래상품권전문판매      589.0        0.0      589.0
..            ...        ...        ...        ...
102          슈퍼마켓  1256225.0  1666405.0  -410180.0
138        인터넷P/G  1475532.0  1908644.0  -433112.0
95           서양음식  1258382.0  1703167.0  -444785.0
189         편 의 점  1300075.0  1787019.0  -486944.0
144          일반한식  2272864.0  3084488.0  -811624.0

[205 rows x 4 columns]

In [16]:
comparison_first_normal.sort_values(by='freq_diff', ascending=False)

           단어       연초빈도       보통빈도  freq_diff
116     업종미등록     7836.0     5560.0     2276.0
151  전자상거래상품권      691.0        0.0      691.0
126      유류판매     3675.0     3129.0      546.0
61        단체복      993.0      886.0      107.0
30       기능학원     2819.0     2900.0      -81.0
..        ...        ...        ...        ...
101      슈퍼마켓  1223125.0  1666405.0  -443280.0
137    인터넷P/G  1335632.0  1908644.0  -573012.0
187     편 의 점  1093072.0  1787019.0  -693947.0
94       서양음식   965267.0  1703167.0  -737900.0
143      일반한식  1742487.0  3084488.0 -1342001.0

[203 rows x 4 columns]