In [1]:
import pandas as pd
import dask.dataframe as dd

In [3]:
df1 = dd.read_csv(r'훈련생 전달용/iMBANK_CARD_DATA_2021(K-DigitalTraining)/iMBANK_CARD_DATA_2021(K-DigitalTraining).csv', encoding = 'euc-kr')

In [38]:
df1.head()

     거래년월        고객ID 가맹점업종명 가맹점_광역시도 가맹점_시군구  승인건수   승인금액
0  202112  4080934272   일반한식     경상북도     경주시  5번이하  20000
1  202112  4116127380   일반한식     경상북도     경주시  5번이하  20000
2  202112  2914424833   일반한식     경상북도     경주시  5번이하  20000
3  202112  2950007638   일반한식     경상북도     경주시  5번이하  60000
4  202112  2931907302   일반한식     경상북도     경주시  5번이하  10000

In [7]:
df2 = dd.read_csv(r'iMBANK_CARD_DATA_2022(K-DigitalTraining).csv', encoding = 'cp949')

In [9]:
df2.head()

     거래년월        고객ID 가맹점업종명 가맹점_광역시도 가맹점_시군구  승인건수   승인금액
0  202212  3083154411   일반한식     경상북도     경주시  5번이하  20000
1  202212  3557972915   일반한식     경상북도     경주시  5번이하  20000
2  202212  3605837880   일반한식     경상북도     경주시  5번이하  80000
3  202212  3673581980   일반한식     경상북도     경주시  5번이하  20000
4  202212  3913986482   일반한식     경상북도     경주시  5번이하  40000

In [10]:
df3 = dd.read_csv(r'iMBANK_CARD_DATA_2023(K-DigitalTraining).csv', encoding = 'cp949')

In [11]:
df3.head()

     거래년월        고객ID 가맹점업종명 가맹점_광역시도 가맹점_시군구  승인건수   승인금액
0  202212  3083154411   일반한식     경상북도     경주시  5번이하  20000
1  202212  3557972915   일반한식     경상북도     경주시  5번이하  20000
2  202212  3605837880   일반한식     경상북도     경주시  5번이하  80000
3  202212  3673581980   일반한식     경상북도     경주시  5번이하  20000
4  202212  3913986482   일반한식     경상북도     경주시  5번이하  40000

In [12]:
df4 = dd.read_csv(r'iMBANK_CUSTOMER_DATA_2021(K-DigitalTraining).csv', encoding = 'cp949')

In [13]:
df4.head()

,기준년월,고객ID,연령대,성별,고객등급,자택_시도,자택_시군구,수신_요구불예금,수신_거치식예금,수신_적립식예금,수신_펀드,수신_외화예금,대출금액
0,202112,9999998161,60대이상,여,일반등급,대구광역시,달서구,1400000,0,0,0,0,0
1,202112,9999997589,60대이상,남,일반등급,경상북도,경주시,0,10000000,500000,0,0,0
2,202112,9999991579,60대이상,여,일반등급,경상북도,성주군,0,30000000,0,0,0,0
3,202112,9999989448,60대이상,남,일반등급,대구광역시,달서구,400000,0,0,0,0,0
4,202112,9999988325,60대이상,남,일반등급,대구광역시,달서구,2700000,0,0,0,0,0

In [14]:
df5 = dd.read_csv(r'iMBANK_CUSTOMER_DATA_2022(K-DigitalTraining).csv', encoding = 'cp949')

In [15]:
df5.head()

,기준년월,고객ID,연령대,성별,고객등급,자택_시도,자택_시군구,수신_요구불예금,수신_거치식예금,수신_적립식예금,수신_펀드,수신_외화예금,대출금액
0,202212,9999998161,60대이상,여,일반등급,대구광역시,달서구,600000,0,0,0,0,0
1,202212,9999997589,60대이상,남,일반등급,경상북도,경주시,0,0,0,0,0,0
2,202212,9999991579,60대이상,여,일반등급,경상북도,성주군,0,33000000,0,0,0,0
3,202212,9999989448,60대이상,남,일반등급,대구광역시,달서구,400000,0,0,0,0,0
4,202212,9999988325,60대이상,남,일반등급,대구광역시,달서구,2700000,0,0,0,0,0

In [16]:
df6 = dd.read_csv(r'iMBANK_CUSTOMER_DATA_2023(K-DigitalTraining).csv', encoding = 'cp949')

In [17]:
df6.head()

,기준년월,고객ID,연령대,성별,고객등급,자택_시도,자택_시군구,수신_요구불예금,수신_거치식예금,수신_적립식예금,수신_펀드,수신_외화예금,대출금액
0,202312,9999998161,60대이상,여,일반등급,대구광역시,달서구,300000,0,0,0,0,0
1,202312,9999997589,60대이상,남,일반등급,경상북도,경주시,0,0,0,0,0,0
2,202312,9999991579,60대이상,여,일반등급,경상북도,성주군,0,33000000,0,0,0,0
3,202312,9999989448,60대이상,남,일반등급,대구광역시,달서구,400000,0,0,0,0,0
4,202312,9999988325,60대이상,남,일반등급,대구광역시,달서구,2800000,0,0,0,0,0